<br>
<br>
<% if @order_items.any? %>
  <% @order_items.each do |order_item|%>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <p>Oder_item ID: <%= order_item.id%> Productname: <%= order_item.product.title%> Product Price: <%= order_item.product.price%></p>

            <button type="button" class="btn btn-success">
              Subtotal:  <span class="badge badge-light"><%= number_to_currency order_item.total_price%></span>
            </button>

          </div>

          <div class="col-md-4">
            <div class="float-right">
              <%= form_for(order_item , remote: true) do |f|%>

                <%=f.hidden_field :product_id, value: order_item.product.id %>
                <div class="input-group mb-2 mr-sm-2">
                  <%= f.text_field :quantity, value: order_item.quantity.to_i, min: 1, class: "form-control"%>
                  <div class="input-group-prepend">
                    <%= f.submit 'Update quantity', class: "input-group-text" %>
                    <%= f.submit 'Delete', method: :delete, romote: true, class: "input-group-text" %>
                  </div>
                </div>

                

              <% end %>
            </div>
          </div>

        </div><!--end of row-->
      </div>
    </div>
    <br>
  <% end %>

  <% else%>

  <p>There now order_items</p>

<% end %>



